/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans&family=Miltonian&family=Open+Sans&display=swap");

body {
  background: rgba(76, 146, 178, 0.3);
}

p,
a,
button,
h4,
h5,
h6,
input,
label {
  font-family: "Open Sans", sans-serif;
  color: rgb(10, 59, 81);
}

h1,
h2,
h3 {
  font-family: "Miltonian", cursive;
  font-family: "Inria Sans", sans-serif;
  color: rgb(76, 146, 178);
}

input,
select,
button {
  padding: 5px;
  margin: 10px;
}

input[type="file"] {
  display: none;
}

textarea {
  height: 100px;
  width: 200px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;
}

input,
textarea,
select {
  background: white;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  width: 200px;
}

button,
a,
.file-input {
  background: rgb(76, 146, 178);
  color: white;
  color: rgb(76, 146, 178);
  background: white;
  font-weight: bold;
  border-radius: 20px;
  border: 0.6px solid rgba(10, 59, 81, 1);
  border: 0.6px solid rgba(76, 146, 178, 0.5);
  box-shadow: 2px 2px 2px rgba(76, 146, 178, 0.5);
  padding: 6px 10px 6px 10px;
  text-decoration: none;
  /* margin: 20px; */
}

.file-input,
a {
  font-size: smaller;
}

.active a {
  color: rgb(76, 146, 178);
  background-color: rgba(10, 59, 81, 1);
}
