nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* padding-top: 10px; */
  /* position: relative; */
  background-color: rgba(10, 59, 81, 1);
  background-color: white;
  background-color: rgb(76, 146, 178);
  height: 40px;
  align-items: center;
}

nav .active {
  color: rgb(76, 146, 178);
  background-color: rgba(10, 59, 81, 1);
}

nav button {
  position: absolute;
  /* bottom: 1px; */
  top: 0px;

  /* bottom: 1px; */
}

.logout-btn {
  position: relative;
  height: 40px;
  margin: 0 0 11px 0;
}
